.about-main{
    min-height: 92.5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center; 
}
.aboutCard{
    width: 100%;
    height: auto; 
}
.cards{
    margin: 8px;
    display: flex;
    justify-content: space-between;    
}
.aboutCardContent{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    box-shadow: none !important;
}
.about{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 5rem;
}
#index{
    border-radius: 10px;
}